# editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
git clone https://github.com/insidesherpa/shiptivity-1.git

npm install
import Dragula from 'dragula';
import Dragula from 'dragula';
git add .
git commit -m "Implemented Kanban board functionality"
git push origin master
